{
    "logfile": "",
     
    "email_from": "",
    "email_to": [""],
    "period": 30,

    "username": "", 
    "password": "",
    "enrollment_location_id": "",
    "init_url": "https://goes-app.cbp.dhs.gov/main/goes"
}
